
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fontlibrary.org/face/bebusneuebold');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counter {
  @include make-col(2);
  text-align: right;
  padding: 15px;
}

.powered-by {
  @include make-col(10);
  padding: 15px;
  font-family: 'BebasNeueBold';
  font-size: 35px;
  line-height: 35px;
}

.powered-by, .counter {
  @media(max-width: 991px){
    @include make-col(12);
    text-align: center;
    color: white;
    background: black;
  }
}

nav, h1, h2, h3, h4 {
  font-family: 'BebasNeueBold';
}

.navbar-brand {
  img {
    margin-right: 7px;
  }
}

.stations-list {
  &-item {
    &-listened {
      display: none;
    }
  }
  &-item:hover {
    &-listened {
      display: inline;
    }
  }
}